:root {

  --d1: #ddd;
  --cor-base-0: #000000;
  --cor-base-1: #1D75DE;
  --cor-base-2: #0D72EA;
  --cor-base-3: #ffffff;
  --cor-base-4: #1ED760;
  --cor-base-5: #EFEFEF;
  --cor-base-6: #919496;
  --cor-base-7: #222326;
  
  

}


/* Reset CSS */

*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
}

body ul, p, h1, h2, h3, h4, a, span{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: initial;
  font-size: initial;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


















