@import './css/global.css';


/* Header */

.main-container{
  padding: 0px 100px;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.header-menu{
  display: flex;
  gap: 30px;
  margin-left: 120px;
}

.header-menu a{
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.3s;
}

.header-menu a:hover{
  color: var(--cor-base-4);
}


.header img{
  display: block;
  max-width: 150px;
  min-width: 150px;
  width: 100%;
}

.header-bg{
  background-color: var(--cor-base-0);
}


/* Introdução */


.introducao-bg{
  background-color: var(--cor-base-1);
}


.introducao h1{
  font-size: 2.25rem;
  font-weight: 700;
  padding-top: 60px;
}

.introducao p{
  font-size: 1.275rem;
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 500;
}

.introducao-btn{
  border: 2px solid var(--cor-base-3);
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 80px;
  display: block;
  max-width: max-content;
  margin-bottom: 40px;
  transition: all 0.3s;
}

.introducao-btn:hover{
  scale: 1.05;
  background-color: rgba(0, 0, 0, 0.09);
}



.introducao span{
  font-size: 0.6rem;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 15px;
}

.detalhe-sublinhado{
  font-size: 0.6rem;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 15px;
  text-decoration: underline;
}


























